body{
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.header{
    border: 2px solid blue;
    background-color: #40A2CE;
    opacity: 0.5;
}

.header__menu{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.header__menu ul{
    display: flex;
}
.header__menu li{
    display: inherit;
}
.header__menu a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.header__menu a:hover{
    background-color: #40A2CE;
    color: white;
    border-radius: 10px;
}

.container{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.banner{
    color: black;
    background-color: rgb(255, 255, 255);
}
.banner .banner__hero{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.banner__text-hero{
    padding: 60px 0 0 60px;
    font-family: monospace;
    font-size: 16px;
}
.portafolio{
    display: flex;
    margin: 100px;
}
.portafolio__box{
    margin: 15px;
    box-shadow: 0px 1px 8px 1px blue;
    border-radius: 10px;
    width: 33%;
}
.portafolio__box img{
    border-radius: 100px;
}
.portafolio__card{
    margin: 5px;
    padding: 5px;
}
.portafolio__card button{
    background-color: #40A2CE;
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px grey;
}
.title{
    background-color: #40A2CE;
    border-left: 6px solid black;
}

.proyecto{
    display: flex;
    margin: 100px;
}
.proyecto__box{
    margin: 15px;
    box-shadow: 0px 1px 8px 2px #40A2CE;
    border-radius: 10px;
}
.proyecto__box img{
    border-radius: 10px;
}

.proyecto__body{
    box-shadow: 0px -10px 10px 2px #40A2CE;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer{
    color: black;
    background-color: #40A2CE;
}
.footer__sections{
    padding: 10px;
}
.copyright p{
    background-color: #40A2CE;
    color:rgb(0, 0, 0);
    font-family: italic;
    text-align: center;
}
