body{
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.header{
    border: 2px solid violet;
    background-color: violet;
}

.header__menu{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.header__menu ul{
    display: flex;
}
.header__menu li{
    display: inherit;
}
.header__menu a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.header__menu a:hover{
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
}

.container{
    width: 1000px;
    margin: 0 auto;
}
.banner{
    color: black;
    background-color: rgb(255, 255, 255);
}
.banner .banner__hero{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.banner__text-hero{
    padding: 80px 0 0 80px;
    font-family: monospace;
    font-size: 18px;
}
.portafolio{
    display: flex;
    margin: 100px;
}
.portafolio__box{
    margin: 15px;
    box-shadow: 0px 1px 8px 1px violet;
    border-radius: 10px;
    width: 33%;
}
.portafolio__box img{
    border-radius: 10px;
}
.portafolio__card{
    margin: 5px;
    padding: 5px;
}
.portafolio__card button{
    background-color: violet;
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px grey;
}
.title{
    background-color: indigo;
    border-left: 6px solid black;
}

.proyecto{
    display: flex;
    margin: 100px;
}
.proyecto__box{
    margin: 15px;
    box-shadow: 0px 1px 8px 2px violet;
    border-radius: 10px;
}
.proyecto__box img{
    border-radius: 10px;
}

.proyecto__body{
    box-shadow: 0px -10px 10px 2px mediumvioletred;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.contacto{
    display: flex;
    margin: 100px;
}
.contacto__box{
    margin: 15px;
    box-shadow: 0px 1px 50px 1px violet;
    border-radius: 10px;
    width: 100%;
}
.footer{
    color: black;
    background-color: blueviolet;
}
.footer__sections{
    padding: 10px;
}
.copyright p{
    background-color: burlywood;
    color:rgb(0, 0, 0);
    font-family: italic;
    text-align: center;
}




/* FORMULARIO DE CONTACTO */



ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #0404B4;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #a817c8;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #6199bc;
}

.contact-form form button {
    background: #6199bc;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #492989;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}